{% block department %}
<div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="#">Fruit</a></li>
                            <li><a href="#">Vegetable</a></li>
                            <li><a href="#">Liquid</a></li>
                            <li><a href="#">Dairy</a></li>
                            <li><a href="#">Grocery</a></li>
                        </ul>
                    </div>
{% endblock department %}